<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <typeAliases>
      <!-- Lifetime manager types -->
      <typeAlias alias="containerControlled" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
    </typeAliases>

    <!--Assemblies and Namespaces declaration-->
    <assembly name="Tweety.Contracts" />
    <assembly name="Tweety.Controllers" />
    <namespace name="Tweety.Contracts.Interfaces" />
    <namespace name="Tweety.Contracts.Entities" />
    <namespace name="Tweety.Controllers" />

    <container>
      <!--Registration of formatters for the Story and AggregatedStory entities-->
      <register type="IEntityFormatter`1[[Story]]" mapTo="StoryFormatter" />
      <register type="IEntityFormatter`1[[AggregatedStory]]" mapTo="AggregatedStoryFormatter" />

      <!--Registration of the UserRepository-->
      <register type="IRepository`1[[User]]" mapTo="Tweety.Logic.Repository.UserRepository, Tweety.Logic">
        <lifetime type="containerControlled" />
      </register>

      <!--Registration of the concrete ICommand implementations for Post, Read, Follows and Wall-->
      <register type="ICommand" mapTo="PostCommand"    name="Post" />
      <register type="ICommand" mapTo="ReadCommand"    name="Read" />
      <register type="ICommand" mapTo="FollowsCommand" name="Follows" />
      <register type="ICommand" mapTo="WallCommand"    name="Wall" />

      <!--Registration of the Post, Read, Follows and Wall commands within the command handler-->
      <register type="ICommandHandler" mapTo="CommandHandler">
        <constructor>
          <param name="supportedCommands">
            <array>
              <dependency name="Post" />
              <dependency name="Read" />
              <dependency name="Follows" />
              <dependency name="Wall" />
            </array>
          </param>
        </constructor>
      </register>
      
    </container>
  </unity>
</configuration>